.add-to-cart {
	// height: 100%;
	width: 100%;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	button {
		letter-spacing: 0.19rem;
		text-align: center;
		padding: 1.2rem 0.9rem;
		border: none;
		background-color: #ffffff;
		font-size: 1.2rem;
		height: 3.4rem;
		line-height: 1;
		border-radius: 23px;
		display: block;
		width: 100%;
		font-weight: bold;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		&:active {
			transform: translateY(10px);
			background-color: #51a152;
			color: white;
		}

		&.checkout {
			background-color: #51a152;
			color: #ffffff;
			font-weight: bold;
		}
	}
}
