.add-to-cart {
	height: 100%;
	width: 100%;
	padding: 0 1.3rem;
	margin-top: 1rem;
	button {
		text-align: center;
		padding: 1.2rem 0.9rem;
		border: none;
		background-color: #f0f0f0;
		font-size: 1.2rem;
		height: 3.4rem;
		line-height: 1;
		border-radius: 23px;
		display: block;
		width: 100%;
		font-weight: bold;
		transition: 0.5s all;
		-webkit-transition: 0.5s all;
		&:active {
			transform: translateY(10px);
			background-color: #51a152;
			color: white;
		}
	}
}
