<div class="feed" id="feed" ref="feed">
	<shelf
		id="section-0"
		:shelf="shelves[0]"
		ref="firstShelf"
		:shelf-index="0"
		@scroll-down="scrollTo(1)"
	></shelf>
	<shelf
		v-for="(shelf, shelfIndex) in shelves"
		v-if="shelfIndex > 0"
		ref="shelf"
		:id="`section-${shelfIndex}`"
		:key="shelfIndex"
		:shelf="shelf"
		:shelf-index="shelfIndex"
	>
	</shelf>
	<footer v-if="currentShelfIndex === 0 && showSeeMore" class="feed-footer">
		<!-- <div class="feed-footer__buttons">
		
	
		</div> -->

		<div  v-if="showSeeMore" class="swipe-down" @click="scrollTo(1)">
			<icon name="chevron-up" width="28" height="28"></icon>
			<div class="see-more">
				See More
			</div>
		</div>
	</footer>
</div>
