.cart-item {
	.picker-button {
		width: 4rem;
		height: 1.44rem;
		border-radius: 30px;
		border: 1px solid black;
		color: black;
		text-align: center;
		line-height: 1.44rem;
	}
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(229, 229, 229, 0.4);
	&__product {
		padding: 1rem 0;
		flex: 3;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&--details {
			display: flex;
			flex-direction: row;
			&--image {
				// background-image: url('../../static/assets/simplyfashion_dress_black_closeup.jpg');
				background-size: cover;
				width: 3.5rem;
				height: 5rem;
			}
			&--details {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding-right: 0.5rem;
				color: #494949;
				font-size: 0.9rem;
				&--price {
					font-weight: bold;
				}
			}
			&--pickers {
				& select {
					-webkit-appearance: none;
					text-indent: 1px;
					background-color: transparent;
					border: none;
				}
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				font-size: 0.9rem;
				color: #494949;
				&__picker {
					padding-top: 0.3rem;
					display: flex;
					flex-direction: row;
					justify-content: flex-end;
					color: #7d7d7d;
					&--title {
						line-height: 1rem;
						padding: 0.2rem 0;
						width: 2.5rem;
					}
					&--box {
						margin-right: 0.3rem;
					}
					&--button {
					}
				}
			}
		}
	}
	&__delete {
		background-color: red;
		color: white;
		display: none;
		flex: 1;
		max-width: 30%;
		margin-right: 0.5rem;
		margin-left: -5.5%;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}
