.influencer-page {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	&__banner {
		flex: 1;
		position: relative;
		img {
			width: 100%;
		}
		.banner-cta {
			position: absolute;
			top: 11rem;
			text-transform: uppercase;
			background: #ffffff;
			font-weight: bold;
			width: 12rem;
			height: 3rem;
			display: block;
			margin: auto;
			right: 0;
			left: 0;
			font-size: 1.2rem;
			border: 2px solid #000000;
		}
	}
	h2 {
		text-align: center;
		padding: 2rem;
		font-size: 2rem;
	}
	.modal-fade-enter {
		opacity: 0;
	}
	.modal-fade-enter-active {
		transition: opacity 0.2s ease-in;
	}
	.modal-fade-enter-to {
		opacity: 0.7;
	}
	.modal-fade-leave {
		opacity: 0.7;
	}
	.modal-fade-leave-active {
		transition: opacity 0.25s ease-out;
	}
	.modal-fade-leave-to {
		opacity: 0;
	}
}
