<div class="page influencer-page">
	<div v-if="influencer && influencer.shelves.length > 0 ">
		<!-- <h2>{{category.label}}</h2> -->
		<stories
			:stories="influencer.shelves"
			:title="influencer.name"
			:autostart="autostartStories"
			@started="toggleStoryStarted"
			@story-index-changed="setStoryIndex"
		>
		</stories>
	</div>
	<!-- <div class="container" v-if="!autostartStories || storiesStarted">
		<h2>כל הפריטים</h2>
		<feed :shelves="stateShelves"></feed>
	</div> -->
	<div
		class="influencer-page__banner"
		:style="{backgroundImage: 'url(' + banner + ')'}"
	>
		<button class="banner-cta" @click="goToBrandWebsite">
			shop now
		</button>
	</div>
	<transition name="modal-fade">
		<shelf-info
			v-if="showShelfInfo"
			:info="shelfInfo"
			:returns="returns"
			:shipping="shippingDetails"
		></shelf-info>
	</transition>
</div>
