/* recommended css code for vue-svgicon */
.svg-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	color: inherit;
	vertical-align: middle;
	fill: none;
	stroke: currentColor;
}

.icon-round {
	background-color: #C61E42;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	position: relative;
}

.svg-fill {
	fill: currentColor;
	stroke: none;
}

.svg-up {
	/* default */
	transform: rotate(0deg);
}

.svg-right {
	transform: rotate(90deg);
}

.svg-down {
	transform: rotate(180deg);
}

.svg-left {
	transform: rotate(-90deg);
}