$variant-container-height: 5rem; //rem
$shelf-header-height: 5.3rem; //rems
$shelf-footer-height: 3.4rem;


.shelf {
	// height: 100vh;
	// position: relative;
	// overflow: hidden;
	// height: calc(100vh - #{$total-fixed-height});

	/********************************
	Swiper
*********************************/
	.swiper {
		&-container {
			// height: calc(100% - #{$shelf-header-height} - #{$variant-container-height});
		}
		&-pagination {
			&-bullet {
				border: 1px solid #ffffff;
				background-color: transparent;
				margin: 0 0.3rem;
				opacity: 1;
				width: 9px;
				height: 9px;
				&-active {
					background-color: #ffffff;
				}
			}
		}
	}
	/********************************
	/Swiper
*********************************/

	/********************************
	Variants
*********************************/
	// &.variants-pickers-0 {
	// 	.swiper-container {
	// 		height: calc(100% - #{$shelf-header-height} - #{$shelf-footer-height});
	// 	}
	// }

	// &.variants-pickers-1 {
	// 	.swiper-container {
	// 		height: calc(
	// 			100% - #{$shelf-header-height} - #{$variant-container-height} - #{$shelf-footer-height}
	// 		);
	// 	}
	// }

	// &.variants-pickers-2 {
	// 	.swiper-container {
	// 		height: calc(
	// 			100% - #{$shelf-header-height} - 2 * #{$variant-container-height} - #{$shelf-footer-height}
	// 		);
	// 	}
	// }

	.color-picker {
		// height: $variant-container-height;
		// ul {
		// 	// height: $variant-container-height;
		// }
	}
	.size-picker {
		// height: $variant-container-height;
	}
	/********************************
/Variants
*********************************/

	/********************************
	Footer
*********************************/
	.shelf-footer {
		// height: $shelf-footer-height;
	}
}
