@import 'typography';
@import 'buttons';
@import 'layout';
@import 'shelf-layout';
@import 'icons';
@import 'desktop';

.fp-enabled {
	// overflow: unset !important;
}

.fp-tableCell {
	position: relative;
	// overflow: hidden;
}

.fp-slidesNav {
	position: absolute;
	left: 50%;
	top: 10px;
	margin-left: 5px !important;
	text-align: center;
}

.fixer-class {
	/deep/ .swiper-container {
		z-index: 1 !important;
	}
}
#fullpage {
	// direction: ltr;
}
.shelf {
	&-1 {
		// background-color: red;
	}
	&-2 {
		background-color: green;
	}

	&-content {
		&-1 {
			background-color: orange;
		}

		&-2 {
			background-color: purple;
		}
	}
}

.counter {
	height: 1.6em;
	width: 1.6em;
	border-radius: 50%;
	color: #ffffff;
	background-color: #51a152;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.8em;
	position: absolute;
}

.shelf-content {
	img {
		width: 100%;
		height: auto;
	}
}

#fp-nav {
}
.fp-slidesNav {
	z-index: 10!important;
	direction: ltr;
	ul li a.active {
		span {
			height: 8px;
			width: 8px;
			background-color: #383838;
			margin: -4px 0 0 -4px;
			// border: 1px solid #F5F5F5;
		}
	}

	ul li a span {
		height: 7px;
		width: 7px;
		background-color: #f5f5f5;
		// margin: -4px 0 0 0px;
	}
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	height: 7px!important;
	width: 7px!important;
	background-color: #f5f5f5!important;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 8px!important;
	width: 8px!important;
	background-color: #383838!important;
	margin: -4px 0 0 -4px!important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: #fff;
}
