@import 'typography';
@import 'buttons';
@import 'layout';
@import 'shelf-layout';
@import 'icons';
@import 'desktop';

* {
	font-family: 'Simpler', 'system-ui', sans-serif;
}
.fp-enabled {
	// overflow: unset !important;
}

.fp-tableCell {
	position: relative;
	// overflow: hidden;
}

.fp-slidesNav{
	position: absolute;
    left:50%;
    top:10px;
    margin-left: 5px !important;
    text-align: center;
	}

.fixer-class {
	/deep/ .swiper-container {
		z-index: 1 !important;
	}
}
#fullpage {
	// direction: ltr;
}
.shelf {
	&-1 {
		// background-color: red;
	}
	&-2 {
		background-color: green;
	}

	&-content {
		&-1 {
			background-color: orange;
		}

		&-2 {
			background-color: purple;
		}
	}
}

.counter {
	height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    color: #ffffff;
		background-color: #51A152;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.8em;
    position: absolute;
}



.shelf-content {
	img {
		width: 100%;
		height: auto;
	}
}