<div class="profile-page">
	<div class="profile-page__header">
		<nuxt-link to="/stores">
			<icon name="back" :original="true" width="26" height="26"></icon>
		</nuxt-link>
		<div class="profile-page__header--image"></div>
	</div>
	<div class="profile-page__store-details">
		<div class="profile-page__store-details--title">Simply fashion</div>
		<div class="profile-page__store-details--phrase">אופנה פשוטה לנשים מתוחכמות</div>
		</div>
	<div class="profile-page__info">
		<div class="profile-page__info--tabs">
			<div class="profile-page__info--tabs--tab-labels">
				<div
					class="profile-page__info--tabs--tab-labels--label"
					v-for="(tab, index) in infoTabs"
					@click="updateSelectedTabIndex(index)"
					:class="{active: selectedTabIndex == index, middle: index == 1}"
				>
					{{ tab }}
				</div>
			</div>
		</div>
	</div>
	<div class="profile-page__info--tabs--tab-content">
		{{ selectedTabIndex }} {{ tabContent }}
	</div>
</div>
