.story-slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 50;
	&__cta {
		position: absolute;
		z-index: 60;
		bottom: 0;
		width: 100%;
		padding: 1rem;
		.attribute-picker {
			margin: 1rem 0;
		}
		// margin-bottom: 4rem;
	}

	.clickable-area {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 50;
		&__previous {
			flex: 1;
			// background-color: red;
		}
		&__next {
			flex: 2;
			// background-color: green;
		}
	}

	&--on-top {
		z-index: 60;
	}
}
