.story-slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
	top:0;
	left: 0;

	z-index: 50;
	&__cta {
		position: absolute;
		z-index: 50;
		bottom:0;
		width: 100%;
		padding: 1rem;
		.attribute-picker {
			margin: 1rem 0;
		}
		// margin-bottom: 4rem;
	}
	
	&--on-top {
		position: relative;
		z-index: 60;
	}

}
