<div
	class="story-slide"
	:style="{ backgroundImage: 'url(' + slideAsset + ')' }"
>
	<!-- STORY CTA -->
	<div
		class="story-slide__cta"
		:class="{'story-slide__cta--ios': isIOS}"
		@click="pauseAutoplay"
	>
		<shelf-title
			v-if="variation && variation.price"
			:price="variation.price"
			:currency="variation.currency"
			:title="shelfTitle"
			:info="shelf.description"
		></shelf-title>
		<attribute-picker
			v-for="(attribute, attributeKey) in availableAttributes"
			:key="attributeKey"
			:attribute="attribute"
			:att-key="attributeKey"
			:selected-attribute="selectedAttributes[attributeKey]"
			@changed-att="setAtt"
		></attribute-picker>
		<div class="story-slide__cta--footer">
			<add-to-cart
				:variant="variation"
				:selected-attributes="selectedAttributes"
				:selected-property="selectedProperty"
				:shelf="shelf"
				:show-go-to-payment="showGoToPayment"
				@setGoToPayment="showGoToPayment = true;"
				@select-size-error="sizeErrorNotification"
			></add-to-cart>
			<nuxt-link
				to="/cart"
				class="cart-button"
				@click.native="$analytics.goToCart(cartItemsCount)"
				v-if="showCart"
			>
				<button class="btn">
					<icon name="cart" width="23" height="23"></icon>
					<div v-if="cartItemsCount != 0" class="counter">
						{{ cartItemsCount }}
					</div>
				</button>
			</nuxt-link>
		</div>
	</div>
	<transition name="size-error-notification">
		<div v-if="sizeError" class="size-error">
			<div>
				<strong>אנא בחרי מידה</strong>
				<br />
				כדי להשלים את ההוספה לסל
			</div>
		</div>
	</transition>
	<!-- CLICKABLE AREA -->
	<div class="clickable-area" ref="clickableArea">
		<div class="clickable-area__previous"></div>
		<div class="clickable-area__next"></div>
	</div>
	<!-- SCRIMS -->
	<scrims></scrims>
</div>
