<div
	class="story-slide"
	:style="{ backgroundImage: 'url(' + slideAsset + ')' }"
>
	<!-- STORY CTA -->
	<div class="story-slide__cta" @click="pauseAutoplay">
		<shelf-title
			v-if="variation && variation.price"
			:price="variation.price"
			:currency="variation.currency"
			:title="shelfTitle"
		></shelf-title>
		<attribute-picker
			v-for="(attribute, attributeKey) in availableAttributes"
			:key="attributeKey"
			:attribute="attribute"
			:att-key="attributeKey"
			:selected-attribute="selectedAttributes[attributeKey]"
			@changed-att="setAtt"
		></attribute-picker>

		<add-to-cart
			:variant="variation"
			:selected-attributes="selectedAttributes"
			:selected-property="selectedProperty"
			:shelf="shelf"
			:show-go-to-payment="showGoToPayment"
			@setGoToPayment="showGoToPayment = true;"
		></add-to-cart>
	</div>

	<!-- CLICKABLE AREA -->
	<div class="clickable-area" ref="clickableArea">
		<div class="clickable-area__previous"></div>
		<div class="clickable-area__next"></div>
	</div>
	<!-- SCRIMS -->
	<scrims></scrims>
</div>
