.story-slide {
	height: 100%;
	width: 100%;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 50;
	.size-error {
		background: white;
		color: black;
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 2000;
		height: 6rem;
		text-align: center;
		font-size: 1.2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// line-height: 6rem;
	}
	&__cta {
		position: absolute;
		z-index: 60;
		bottom: 0;
		width: 100%;
		padding: 1rem 1rem 1.5rem 1rem;

		&--ios {
			padding-bottom: 1.5rem;
		}

		&--expanded {
			position: relative;
			height: 100%;
			background: rgba(0,0,0,0.8);
		}

		.attribute-picker {
			margin-bottom: 1rem;
			// &.size-error {
			// 	border: 1px solid red;
			// }
		}
		&--footer {
			display: flex;
			.cart-button {
				margin-right: 1rem;
				.btn {
					position: relative;
					height: 3.7rem;
					width: 3.7rem;
					border-radius: 50%;
					background: #fff;
					outline: none;
					border: none;
					svg {
						stroke: #000;
						fill: #fff;
					}
					.counter {
						background: #51a152;
						text-align: center;
						height: 1.9rem;
						width: 1.9rem;
						border-radius: 50%;
						color: #fff;
						font-size: 14px;
						font-weight: bold;
						line-height: 1.7rem;
						position: absolute;
						bottom: 0.2rem;
						right: 0.3rem;
						border: none;
					}
				}
			}
		}
		// margin-bottom: 4rem;
	}

	.clickable-area {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: 50;
		&__previous {
			flex: 1;
			// background-color: red;
		}
		&__next {
			flex: 2;
			// background-color: green;
		}
	}

	&--on-top {
		z-index: 60;
	}

	.size-error-notification-enter {
		height: 0;
	}
	.size-error-notification-enter-active {
		transition: height 0.4s ease-out;
	}
	.size-error-notification-enter-to {
		height: 6rem;
	}
	.size-error-notification-leave {
		height: 6rem;
	}
	.size-error-notification-leave-active {
		transition: height 0.2s ease-in;
	}
	.size-error-notification-leave-to {
		height: 0;
	}
}
