.btn {
	outline: none;
	border: none;

	&--round {
		border-radius: 50%;
		height: 2.1rem;
		width: 2.1rem;
		line-height: 1;
	}
}
.chevron {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.5rem;
	align-self: center;
	margin-right: 0.3rem;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.5rem;
}
.close {
	width: 2rem;
	height: 2rem;
	position: relative;
	border: none;
	outline: none;
	&:after {
		content: '';
		height: 25px;
		border-left: 3px solid white;
		position: absolute;
		transform: rotate(45deg);
		// left: 28px;
	}

	&:before {
		content: '';
		height: 25px;
		border-left: 3px solid white;
		position: absolute;
		transform: rotate(-45deg);
		// left: 28px;
	}
}
