.profile-page {
	.header {
		position: relative;
		padding: 1rem;
		text-align: center;
		.back {
			position: absolute;
			right: 1rem;
			top: 1.5rem;
		}

		&__logo {
			width: 4.5rem;
			margin: auto;
			img {
				width: 100%;
				height: auto;
			}
		}
		&--back {
			flex: 0 1 auto;
			margin-left: auto;
			outline: 0;
		}
	}

	.store-details {
		margin: auto;
		text-align: center;
		padding: 0 1rem 2.5rem 1rem;
		&__name {
			font-size: 1.4rem;
			padding-bottom: 0.3rem;
			font-weight: bold;
			color: #292828;
			letter-spacing: 1px;
		}
		&__tagline {
			color: #717171;
			font-size: 1.1rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		&--tabs {
			&--tab-labels {
				display: flex;
				flex-direction: row;
				&--label {
					font-weight: bold;
					// margin: 1rem 0;
					color: rgba(56, 56, 56, 0.4);
					flex: 1;
					text-align: center;
					font-size: 1.1rem;
					border-top: 1px solid #d6d6d6;
					border-bottom: 1px solid #d6d6d6;
					padding: 0.5rem;
					&.active {
						color: rgba(56, 56, 56, 1);
					}
				}
				.middle {
					border: 1px solid #d6d6d6;
				}
			}
			&--tab-content {
				// margin: auto;
				word-break: break-word;
				text-align: right;
				padding: 1.8rem;
				line-height: 1.8;
    		font-size: 1.1rem;
			}
		}
	}
}
