.profile-page {
	.header {
		position: relative;
		padding: 1rem;
		text-align: center;
		.back {
			position: absolute;
			right:1rem;
			top:1rem;
		}

		&__logo {
			width:4rem;
			margin: auto;
			img {
				width:100%;
				height:auto;
			}
		}
		&--back {
			flex: 0 1 auto;
			margin-left: auto;
		}
	}

	.store-details {
		padding: 1rem 0;
		margin: auto;
		text-align: center;
		&__name {
			font-size: 1.3rem;
			padding-bottom: 0.3rem;
			font-weight: bold;
			color: #292828;
		}
		&__tagline {
			color: #717171;
			font-size: 1.1rem;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		&--tabs {
			&--tab-labels {
				display: flex;
				flex-direction: row;
				&--label {
					// margin: 1rem 0;
					color: #818181;
					flex: 1;
					text-align: center;
					font-size: 1.2rem;
					border-top: 1px solid #818181;
					border-bottom: 1px solid #818181;
					padding: 0.5rem;
					&.active {
						color: black;
						font-weight: bold;
					}
				}
				.middle {
					border: 1px solid #818181;
				}
			}
			&--tab-content {
				// margin: auto;

				text-align: right;
				padding: 1rem 1rem 0 1rem;
			}
		}
	}
}
