<div class="profile-page">
	<div class="header">
		<nuxt-link :to="`/`" class="back">
			<icon name="back" :original="true" width="26" height="26"></icon>
		</nuxt-link>
		<div class="header__logo">
				<img :src="logoSrc" :alt="`${storeSlug} Logo`" />
		</div>
	</div>
	<div class="store-details">
		<div class="store-details__name">{{storeName}}</div>
		<div class="store-details__tagline">
			{{tagline}}
		</div>
	</div>
	<div class="profile-page__info">
		<div class="profile-page__info--tabs">
			<div class="profile-page__info--tabs--tab-labels">
				<div
					class="profile-page__info--tabs--tab-labels--label"
					v-for="(tab, index) in profileTabs"
					@click="updateSelectedTabIndex(index)"
					:class="{active: selectedTabIndex == index, middle: index == 1}"
				>
					{{ tab }}
				</div>
			</div>
		</div>
	</div>
	<div class="profile-page__info--tabs--tab-content" v-html="tabContent">
	</div>
</div>
