.shelf-info {
	background-color: #424242;
	opacity: 0.98;
	position: absolute;
	bottom: 0;
	z-index: 20;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	// border-bottom: 1px solid rgba(203, 202, 202, 0.5);
	height: 75vh;
	&__close {
		position: absolute;
		border: 0;
		background-color: transparent;
		font-weight: bold;
		color: #fff;
		left: 13px;
		top: 0px;
		font-size: 1.2rem;
	}
	&__tabs {
		height: calc(100% - 255px);
		// border-bottom: 1px solid rgba(203, 202, 202, 0.5);
		&--header {
			display: flex;
			padding: 0.3rem;
			letter-spacing: 1px;
		}
		&--label {
			font-size: 1.3rem;
			padding: 0.8rem 0.8rem 0.5rem 0.8rem;
			font-weight: bold;
			&.active {
				border-bottom: 2px solid #fff;
			}
		}
		&--content {
			font-size: 1.1rem;
			padding: 0.5rem 1.1rem;
			// max-height: calc(100% - 52.26px);
			// overflow: hidden;
			// max-height:7rem;
			// overflow-y: scroll;
		}
	}
}
