.shelf-info {
	padding: 4rem 2rem 9rem 2rem;
	overflow: hidden;
	background-color: rgba(49, 49, 49, 0.7);
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
	color: #ffffff;
	// -webkit-overflow-scrolling: touch;
	height: 100%;
	&__tabs {
		overflow: auto;
    height: 100%;
		// overflow: scroll;
		&--label {
			position: relative;
			font-size: 1.4rem;
			padding: 0.5rem 0;
			font-weight: bold;
			border-top: 1px solid #979797;
			.show-more-less {
				position: absolute;
				left: 0;
			}
			&:last-child {
				border-bottom: 1px solid #979797;
			}
		}
		&--content {
			font-size: 1rem;
			margin-top: 0.75rem;
			overflow-y: scroll;
		}
	}
	&__container--close {
		padding: 1rem 2rem;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		button {
			letter-spacing: 0.19rem;
			text-align: center;
			padding: 1.2rem 0.9rem;
			border: none;
			background-color: #ffffff;
			font-size: 1.2rem;
			height: 3.4rem;
			line-height: 1;
			border-radius: 23px;
			display: block;
			width: 100%;
			font-weight: bold;
		}
	}
}
