<div class="shelf-info">
	<div class="shelf-info__tabs" ref="shelfInfoComponent">
		<div
			class="shelf-info__tabs--label"
			:class="{active: selectedTabIndex == index}"
			v-for="(tab, index) in infoTabs"
			@click="toggleShowContent(index)"
			v-if="getTabContent(index).length"
		>
			{{ tab }}
			<span class="show-more-less" v-if="showTabContent(index)">-</span>
			<span class="show-more-less" v-if="!showTabContent(index)">+</span>
			<div
				class="shelf-info__tabs--content"
				v-html="getTabContent(index)"
				v-show="showTabContent(index)"
			></div>
		</div>
	</div>
	<div class="shelf-info__container--close">
		<button class="shelf-info__close" v-on:click="closeInfo">סגור</button>
	</div>
</div>
