<div class="shelf-content swiper-slide">
	<!-- Image -->
	<img v-if="content.type == 'image'" :src="content.value" />

	<!-- Video -->
	<video-player v-if="content.type == 'video'" :source="content.value"></video-player>

	<!-- <video
		v-if="content.type == 'video'"
		controls
		class="shelf-content__video"
		autoplay
		muted
		loop
	>
		<source :src="content.value" type="video/mp4" />
		Sorry, your browser doesn't support embedded videos.
	</video> -->

	<!-- Description -->
	<div v-if="content.type == 'description'" class="shelf-content__description">
		{{ content.value }}
	</div>
</div>
