.checkout-page {
	background: #f5f5f5;
	color: #383838;
	&__header {
		display: flex;
		background: #ffffff;
		padding: 0.7rem;
		h3 {
			flex: 1;
			text-align: center;
		}
	}
	&__cart {
		background: #ffffff;
		margin-top: 0.6rem;
		padding: 1.8rem;
		&--header {
			display: flex;
			h4 {
				font-size: 1.1rem;
				font-weight: bold;
				flex: 1;
			}
		}
		&--link {
			text-decoration: none;
			color: inherit;
			font-size: 0.9rem;
			letter-spacing: 1px;
		}
		&--images {
			margin-top: 1rem;
			img {
				margin-top: 0.5rem;
				border: 1px solid #d6d6d6;
				margin-left: 0.7rem;
			}
		}
	}
	&__order {
		h4 {
			font-size: 1.1rem;
			font-weight: bold;
			flex: 1;
			padding: 1rem 1.8rem;
		}
		&--container {
			// background: #ffffff;
			// padding: 0.5rem 0.8rem;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		&--item {
			display: flex;
			flex-direction: column;
			background: #ffffff;
			padding: 1rem 1.8rem;
			.error {
				font-size: 0.7rem;
				font-weight: bold;
				color: #c61e42;
			}
		}
		&--label {
			color: #535353;
			font-size: 0.92rem;
			font-weight: bold;
			margin-top: 0.5rem;
		}
		&--input {
			color: #535353;
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid #979797;
			min-height: 3rem;
			&.error {
				border-color: #c61e42;
			}
		}
	}
	&__shipping {
		h4 {
			font-size: 1.1rem;
			font-weight: bold;
			flex: 1;
			padding: 1rem 1.8rem;
		}
		&--container {
			padding: 1rem 1.8rem;
			background: #ffffff;
			h5 {
				font-size: 0.93rem;
			}
		}
	}
	&__total {
		list-style: none;
		padding: 0;
		font-size: 0.93rem;
		padding: 1rem 1.8rem;
		li {
			display: flex;
			margin-top: 0.5rem;
		}
		&--key {
			flex: 1;
		}
		&--value {
			font-weight: bold;
		}
		#checkout-submit {
			margin: auto;
			background: #51a152;
			display: block;
			border: none;
			outline: none;
			border-radius: 40px;
			color: #fff;
			font-size: 1.2rem;
			font-weight: bold;
			padding: 0.5rem 1rem;
			margin-top: 1rem;
			width: 100%;
			min-height: 3rem;
		}
		&--terms {
			font-size: 0.6rem;
			letter-spacing: 1px;
			width: 100%;
			margin: auto;
			text-align: center;
			margin-top: 0.5rem;
		}
	}
}
