<div id="our-services">
	<!-- HERO SECTION -->
	<section id="hero" class="section">
		<div class="logo show-sm">
			<img src="/storystore_logo.png" alt="Storystore" />
			<h2>הקם סטוריסטור לעסק שלך בקלות ובמהירות</h2>
		</div>

		<div class="demo-video">
			<video
				:src="`${staticDir}storystore_demo.mp4`"
				muted="muted"
				autoplay
			></video>
		</div>
		<div class="subtitle">
			<div class="logo show-md">
				<img :src="`${staticDir}storystore_logo.png`" alt="Storystore" />
			</div>
			<h2 class="show-md">הקם סטוריסטור לעסק שלך בקלות ובמהירות</h2>
			<p>
				כל מה שאתה צריך זה מוצרים ותוכן סטוריסטור יעשו את השאר ותוכל להתחיל
				למכור !
			</p>
			<button v-scroll-to="'#footer'" class="btn btn--round">
				פתח/י סטוריסטור
			</button>
		</div>
	</section>

	<!-- WHY STORYSTORE SECTION -->
	<section id="why-storystore" class="section why-storystore">
		<div class="title__container">
			<h3>למה סטוריסטור?</h3>
		</div>
		<div class="why-storystore__container">
			<ul class="list">
				<li
					v-for="(feature, featureIndex) in features"
					:key="featureIndex"
					class="list__item"
				>
					<icon
						:orginal="true"
						class="icon icon--checkmark"
						name="checkmark"
					></icon>
					<div class="feature">{{ feature }}</div>
				</li>
			</ul>
		</div>
	</section>

	<!-- PRICING SECTION -->
	<section id="pricing" class="section pricing">
		<div class="title__container">
			<h3>מסלולים ומחירים</h3>
		</div>
		<div class="pricing__container">
			<table class="pricing-table">
				<thead>
					<tr class="pricing-table__row">
						<th></th>
						<th>מקסימום מק״טים</th>
						<th>אחוז מכל עסקה</th>
						<th>עמלה מינימלית חודשית</th>
					</tr>
				</thead>
				<tbody>
					<tr class="pricing-table__row pricing-table__row--basic">
						<td>בסיסי</td>
						<td>
							100
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							5
							<span class="small-text">%</span>
						</td>
						<td>
							290
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
					<tr class="pricing-table__row pricing-table__row--standard">
						<td>מתקדם</td>
						<td>
							1,000
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							3.5
							<span class="small-text">%</span>
						</td>
						<td>
							490
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
					<tr class="pricing-table__row pricing-table__row--premium">
						<td>פרמיום</td>
						<td>
							5,000
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							2
							<span class="small-text">%</span>
						</td>
						<td>
							2,900
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- <a href="#footer"> -->
			<button v-scroll-to="'#footer'" class="btn btn--round">
				פתח/י סטוריסטור
			</button>
			<!-- </a> -->
		</div>
		<!-- <table> -->
	</section>

	<section id="studio" class="section studio">
		<div class="title__container">
			<h3>שירותי סטודיו</h3>
		</div>
		<div class="studio__container">
			<p>
				תוכן איכותי ומקורי מוכר יותר, לכן סטוריסטור מציעה גם שירותי הפקה שיעזרו
				לקדם את המוצרים שלך. אנחנו מייצרים למוצרים תוכן ויזואלי (סטילס ווידאו)
				המתאים לאינטרנט.
			</p>
			<p>מבצע ללקוחות סטוריסטור: חבילת סטילס ווידאו ב-99 ש״ח למוצר</p>
			<ul class="list">
				<li
					v-for="(studioFeature, studioFeatureIndex) in studioFeatures"
					:key="studioFeatureIndex"
					class="list__item"
				>
					<icon
						:orginal="true"
						class="icon icon--checkmark"
						name="checkmark"
					></icon>
					{{ studioFeature }}
				</li>
			</ul>
		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="footer__wrapper">
			<div class="logo">
				<img
					:src="`${staticDir}storystore_logo--white.png`"
					alt="Storystore Logo"
				/>
				<hr />
			</div>
			<div class="footer__container">
				<p>
					כתובתנו היא רח' קינג ג׳ורג׳ 48, תל אביב. <br />ניתן לפנות אלינו גם
					בטלפון 0504484517, <br />במייל בכתובת hai@shop-together.io או בטופס
					הבא:
				</p>
				<div class="contact-form">
					<div class="contact-form__row">
						<input
							v-model="formData.companyName"
							type="text"
							placeholder="שם העסק"
						/>
						<input
							v-model="formData.contactName"
							type="text"
							placeholder="שם איש קשר"
						/>
					</div>
					<div class="contact-form__row">
						<input
							v-model="formData.contactPhone"
							type="phone"
							placeholder="טלפון"
						/>
						<input
							v-model="formData.contactEmail"
							:class="{'validation-error': validationErrors.contactEmail}"
							required
							type="email"
							placeholder="כתובת מייל"
						/>
						<input
							v-model="formData.companyUrl"
							type="text"
							placeholder="אתר קיים"
						/>
					</div>
					<div
						v-if="contactFormResp.text"
						:class="contactFormResp.class"
						class="contact-form__row contact-form__resp"
					>
						{{ contactFormResp.text }}
					</div>
					<div class="contact-form__row contact-form__row--left">
						<button class="btn btn--round btn--light" @click="submitForm">
							התחל למכור
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
