@import '@/sass/breakpoints.mixin.scss';

html,
body {
	font-size: 14px;
	color: #494949;
	direction: rtl;
}
* {
	font-family: 'Simpler', 'system-ui', sans-serif;
}

.show-sm {
	display: block;
	@include sm {
		display: none;
	}
}

.show-md {
	display: none;
	@include md {
		display: block;
	}
}

#start {
	background-color: #f5f5f5;
	#hero {
		.tagline {
			text-align: center;
			padding: 4rem;
			&__header {
				h3 {
					font-weight: normal;
					font-size: 1.2rem;
					margin-top: 0.5rem;
				}
			}
			&__logo {
				width: 12rem;
			}
			&__text {
				margin-top: 2rem;
				h2 {
					font-size: 2rem;
					border-bottom: 1px solid #494949;
					max-width: 10rem;
					margin: auto;
				}
				p {
					max-width: 16rem;
					margin: 2rem auto 0;
					font-size: 1.1rem;
				}
			}
		}
		.simulation {
		}
		.call-to-action {
			margin-top: 1.5rem;
			&__btn {
				background: #58585b;
				border: none;
				outline: none;
				color: #fff;
				width: 80%;
				margin: auto;
				display: block;
				border-radius: 40px;
				padding: 1rem 0;
				font-size: 1.1rem;
				font-weight: bold;
			}
			&__comment {
				text-align: center;
				margin-top: 0.7rem;
			}
		}
	}
	#pricing {
		.table {
			text-align: center;
			border-collapse: collapse;
			margin-top: 4rem;
			&__row {
				&:nth-child(2) {
					opacity: 0.4;
				}
				&:nth-child(3) {
					opacity: 0.7;
				}
			}
			&__head {
			}
			&__cell {
				border: 1px solid #bbbdbf;
				border-top: none;
				border-right: none;
				font-size: 1.4rem;
				padding: 0.4rem 0.6rem;
				font-weight: bold;
				&:nth-child(4) {
					border-left: none;
				}
				span {
					font-size: 0.8rem;
					display: inline-block;
				}
			}
		}
	}
	.section {
		padding: 2rem 1rem;
	}
	.container {
		margin-bottom: 3rem;
		.header {
			font-size: 1.8rem;
			border-bottom: 1px solid #494949;
			width: max-content;
			padding-bottom: 0.6rem;
		}
		.list {
			list-style: none;
			padding: 0;
			margin-top: 1.6rem;
			&__item {
				display: flex;
				margin-bottom: 0.6rem;
				&--dash {
					margin-left: 0.3rem;
				}
				&--text {
				}
			}
		}
	}
	.footer {
		background-color: #494949;
		color: #dbdcdd;
		&__wrapper {
			padding: 3rem 6rem;
		}
		&__header {
			&--logo {
				width: 9.7rem;
			}
		}
		&__form {
			margin: 1rem auto;
			input {
				width: 100%;
				background: none;
				border: none;
				border-bottom: 1px solid #e5e6e7;
				border-radius: 0;
				margin-top: 2rem;
				padding-bottom: 0.5rem;
			}
		}
		&__call-to-action {
			background-color: #e5e6e7;
			border: none;
			outline: none;
			border-radius: 40px;
			font-size: 1.2rem;
			font-weight: bold;
			color: #4f4c4c;
			width: 100%;
			margin-top: 2rem;
			padding: 0.8rem;
		}
		&__our-address {
			margin-top: 2rem;
		}
	}

	// DESKTOP
	@include md {
		.section {
			// height: 100vh;
		}
		#hero {
			display: flex;
			flex-direction: row-reverse;
			padding: 0;
			.tagline {
				flex: 1;
				display: flex;
				flex-direction: column;
				min-width: 30rem;
				&__header {
					flex: 1;
					h3 {
						font-size: 2.6rem;
					}
				}
				&__logo {
					width: 22rem;
					margin: 0 auto;
				}
				&__text {
					flex: 1;
					h2 {
						font-size: 2.5rem;
						max-width: 20rem;
						padding-bottom: 1rem;
					}
					p {
						max-width: 27rem;
						font-size: 1.5rem;
					}
				}
				&__call-to-action {
					flex: 1;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
				.call-to-action__btn {
					margin: 0 auto;
				}
			}
			.simulation {
				flex: 1;
				height: 100vh;
				/deep/ .video-player__video {
					height: 100%;
					width: auto;
				}
			}
		}
	}
}
