<div id="start">
	<section id="hero" class="section">
		<div class="tagline">
			<div class="tagline__header">
				<img
					class="tagline__logo"
					src="/storystore_logo.png"
					alt="storystore"
				/>
				<h3>רשת קניות אונליין מציגה:</h3>
			</div>
			<div class="tagline__text">
				<h2>״מדף מוצר״</h2>
				<p>
					מדף וירטואלי המכיל את סך המידע הדרוש למשתמש בכדי לקבל החלטה מהירה
					לרכישה
				</p>
			</div>
			<div class="tagline__call-to-action show-md">
				<button v-scroll-to="'#footer'" class="call-to-action__btn">
					פתח/י storystore לעסק שלך
				</button>
				<div class="call-to-action__comment">ללא עלות הקמה</div>
			</div>
		</div>
		<div class="simulation">
			<video-player :source="`${staticDir}hero_simulation.mp4`"></video-player>
		</div>
		<div class="call-to-action show-sm">
			<button v-scroll-to="'#footer'" class="call-to-action__btn">
				פתח/י storystore לעסק שלך
			</button>
			<div class="call-to-action__comment">ללא עלות הקמה</div>
		</div>
	</section>
	<section id="features" class="section">
		<div class="container">
			<h1 class="header">מוצר, עיצוב, חויה</h1>
			<ul class="list">
				<li
					class="list__item"
					v-for="(feature, featureIndex) in productFeatures"
				>
					<div class="list__item--dash">-</div>
					<div class="list__item--text">{{ feature }}</div>
				</li>
			</ul>
			<h1 class="header">יותר מוצרים ובפחות זמן</h1>
			<ul class="list">
				<li
					class="list__item"
					v-for="(feature, featureIndex) in exposureFeatures"
				>
					<div class="list__item--dash">-</div>
					<div class="list__item--text">{{ feature }}</div>
				</li>
			</ul>
		</div>
		<!-- <div class="container">
			<h1 class="header">יותר מוצרים ובפחות זמן</h1>
			<ul class="list">
				<li
					class="list__item"
					v-for="(feature, featureIndex) in exposureFeatures"
				>
					<div class="list__item--dash">-</div>
					<div class="list__item--text">{{ feature }}</div>
				</li>
			</ul>
		</div> -->
		<div class="simulation">
			<video-player :source="`${staticDir}storystore_demo.mp4`"></video-player>
		</div>
	</section>
	<section id="pricing" class="section">
		<div class="container">
			<h1 class="header">מסלול לכל גודל וסוג של עסק</h1>
			<ul class="list">
				<li
					class="list__item"
					v-for="(feature, featureIndex) in pricingFeatures"
				>
					<div class="list__item--dash">-</div>
					<div class="list__item--text">{{ feature }}</div>
				</li>
			</ul>
		</div>
		<table class="table">
			<tr class="table__row">
				<th class="table__head"></th>
				<th class="table__head">מקסימום מק״טים</th>
				<th class="table__head">אחוז מכל עסקה</th>
				<th class="table__head">עמלת מכירות מינימלית חודשית</th>
			</tr>
			<tr class="table__row">
				<td class="table__cell">בסיסי</td>
				<td class="table__cell">
					100 <span style="display: block">מק״טים</span>
				</td>
				<td class="table__cell"><span>%</span>5</td>
				<td class="table__cell">290 <span>ש״ח</span></td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">מתקדם</td>
				<td class="table__cell">
					1,000 <span style="display: block">מק״טים</span>
				</td>
				<td class="table__cell"><span>%</span>3.5</td>
				<td class="table__cell">490 <span>ש״ח</span></td>
			</tr>
			<tr class="table__row">
				<td class="table__cell">פרימיום</td>
				<td class="table__cell">
					5,000 <span style="display: block">מק״טים</span>
				</td>
				<td class="table__cell"><span>%</span>2</td>
				<td class="table__cell">2900 <span>ש״ח</span></td>
			</tr>
		</table>
	</section>
	<footer id="footer" class="footer">
		<div class="footer__wrapper">
			<div class="footer__header">
				<img
					class="footer__header--logo"
					:src="`${staticDir}storystore_logo--white.png`"
					alt="Storystore Logo"
				/>
				<div class="footer__header--text">
					מלא את הטופס וניצור איתך קשר בהקדם
				</div>
			</div>
			<div class="footer__form">
				<input
					v-model="formData.companyName"
					type="text"
					placeholder="שם העסק"
				/>
				<input
					v-model="formData.contactName"
					type="text"
					placeholder="שם איש קשר"
				/>
				<input
					v-model="formData.contactPhone"
					type="phone"
					placeholder="טלפון"
				/>
				<input
					v-model="formData.contactEmail"
					:class="{'validation-error': validationErrors.contactEmail}"
					required
					type="email"
					placeholder="כתובת מייל"
				/>
				<input
					v-model="formData.companyUrl"
					type="text"
					placeholder="לינק לחנות שלך"
				/>
				<button class="footer__call-to-action" @click="submitForm">
					התחל למכור
				</button>
				<p class="footer__our-address">
					כתובתנו היא רח' קינג ג׳ורג׳ 48, תל אביב. <br />ניתן לפנות אלינו גם
					בטלפון 0504484517, <br />במייל בכתובת hai@shop-together.io או בטופס
					הבא:
				</p>
			</div>
		</div>
	</footer>
</div>

<!-- <div id="our-services">

	<section id="hero" class="section">
		<div class="logo show-sm">
			<img src="/storystore_logo.png" alt="Storystore" />
			<h2>הקם סטוריסטור לעסק שלך בקלות ובמהירות</h2>
		</div>

		<div class="demo-video">
			<video
				:src="`${staticDir}storystore_demo.mp4`"
				muted="muted"
				autoplay
			></video>
		</div>
		<div class="subtitle">
			<div class="logo show-md">
				<img :src="`${staticDir}storystore_logo.png`" alt="Storystore" />
			</div>
			<h2 class="show-md">הקם סטוריסטור לעסק שלך בקלות ובמהירות</h2>
			<p>
				כל מה שאתה צריך זה מוצרים ותוכן סטוריסטור יעשו את השאר ותוכל להתחיל
				למכור !
			</p>
			<button v-scroll-to="'#footer'" class="btn btn--round">
				פתח/י סטוריסטור
			</button>
		</div>
	</section>

	<section id="why-storystore" class="section why-storystore">
		<div class="title__container">
			<h3>למה סטוריסטור?</h3>
		</div>
		<div class="why-storystore__container">
			<ul class="list">
				<li
					v-for="(feature, featureIndex) in features"
					:key="featureIndex"
					class="list__item"
				>
					<icon
						:orginal="true"
						class="icon icon--checkmark"
						name="checkmark"
					></icon>
					<div class="feature">{{ feature }}</div>
				</li>
			</ul>
		</div>
	</section>

	<section id="pricing" class="section pricing">
		<div class="title__container">
			<h3>מסלולים ומחירים</h3>
		</div>
		<div class="pricing__container">
			<table class="pricing-table">
				<thead>
					<tr class="pricing-table__row">
						<th></th>
						<th>מקסימום מק״טים</th>
						<th>אחוז מכל עסקה</th>
						<th>עמלה מינימלית חודשית</th>
					</tr>
				</thead>
				<tbody>
					<tr class="pricing-table__row pricing-table__row--basic">
						<td>בסיסי</td>
						<td>
							100
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							5
							<span class="small-text">%</span>
						</td>
						<td>
							290
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
					<tr class="pricing-table__row pricing-table__row--standard">
						<td>מתקדם</td>
						<td>
							1,000
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							3.5
							<span class="small-text">%</span>
						</td>
						<td>
							490
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
					<tr class="pricing-table__row pricing-table__row--premium">
						<td>פרמיום</td>
						<td>
							5,000
							<span class="small-text">מק״טים</span>
						</td>
						<td>
							2
							<span class="small-text">%</span>
						</td>
						<td>
							2,900
							<span class="small-text">ש״ח</span>
						</td>
					</tr>
				</tbody>
			</table>
			<button v-scroll-to="'#footer'" class="btn btn--round">
				פתח/י סטוריסטור
			</button>
		</div>
	</section>

	<section id="studio" class="section studio">
		<div class="title__container">
			<h3>שירותי סטודיו</h3>
		</div>
		<div class="studio__container">
			<p>
				תוכן איכותי ומקורי מוכר יותר, לכן סטוריסטור מציעה גם שירותי הפקה שיעזרו
				לקדם את המוצרים שלך. אנחנו מייצרים למוצרים תוכן ויזואלי (סטילס ווידאו)
				המתאים לאינטרנט.
			</p>
			<p>מבצע ללקוחות סטוריסטור: חבילת סטילס ווידאו ב-99 ש״ח למוצר</p>
			<ul class="list">
				<li
					v-for="(studioFeature, studioFeatureIndex) in studioFeatures"
					:key="studioFeatureIndex"
					class="list__item"
				>
					<icon
						:orginal="true"
						class="icon icon--checkmark"
						name="checkmark"
					></icon>
					{{ studioFeature }}
				</li>
			</ul>
		</div>div
	</section>
	<footer id="footer" class="footer">
		<div class="footer__wrapper">
			<div class="logo">
				<img
					:src="`${staticDir}storystore_logo--white.png`"
					alt="Storystore Logo"
				/>
				<hr />
			</div>
			<div class="footer__container">
				<p>
					כתובתנו היא רח' קינג ג׳ורג׳ 48, תל אביב. <br />ניתן לפנות אלינו גם
					בטלפון 0504484517, <br />במייל בכתובת hai@shop-together.io או בטופס
					הבא:
				</p>
				<div class="contact-form">
					<div class="contact-form__row">
						<input
							v-model="formData.companyName"
							type="text"
							placeholder="שם העסק"
						/>
						<input
							v-model="formData.contactName"
							type="text"
							placeholder="שם איש קשר"
						/>
					</div>
					<div class="contact-form__row">
						<input
							v-model="formData.contactPhone"
							type="phone"
							placeholder="טלפון"
						/>
						<input
							v-model="formData.contactEmail"
							:class="{'validation-error': validationErrors.contactEmail}"
							required
							type="email"
							placeholder="כתובת מייל"
						/>
						<input
							v-model="formData.companyUrl"
							type="text"
							placeholder="אתר קיים"
						/>
					</div>
					<div
						v-if="contactFormResp.text"
						:class="contactFormResp.class"
						class="contact-form__row contact-form__resp"
					>
						{{ contactFormResp.text }}
					</div>
					<div class="contact-form__row contact-form__row--left">
						<button class="btn btn--round btn--light" @click="submitForm">
							התחל למכור
						</button>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div> -->
