<div class="attribute-picker" v-if="!hidePicker">
	<ul>
		<li
			v-for="(att, attIndex) in attribute"
			:key="attIndex"
			:class="{'att--active': attIndex == selectedAttIndex, 'att-disabled' : att.disabled }"
			class="att"
		>
			<button
				:style="[attKey === 'color' ? {backgroundColor: att.value} : {}]"
				class="btn btn--round"
				:title="att"
				@click="setAtt(att, attIndex)"
			>
				{{ attKey !== 'color' ? att.label : '' }}
			</button>
			<!-- <div class="selected"></div> -->
		</li>
	</ul>
</div>
