.attribute-picker {
	// border-bottom: 1px solid rgba(203, 202, 202, 0.7);
	padding: 0.7rem 0;
	width: auto;

	
	ul {
		display: inline-block;
		list-style: none;
		padding: 0;
	}
	li {
		display: inline-block;

		margin-left: 1rem;
		background-color: inherit;
		color: black;
	}

	.btn {
		background-color: white;
	}

	.att {
		
		.btn {
			border: 1px solid #ffffff;
			text-transform: uppercase;
		}
		&--active {
			border-bottom: 3px solid white;
			padding-bottom: 6px;
		}
	}
}
