<div class="attribute-picker" v-if="!hidePicker">
	<!-- <div>{{attribute.label}}</div> -->
	<ul>
		<li
			v-for="(att, attIndex) in attribute.available"
			:key="attIndex"
			:class="{'att--active': attIndex == selectedAttIndex}"
			class="att"
		>
			<button
				:style="[isColor ? {backgroundColor: att.value} : {}]"
				class="btn btn--pill"
				:title="att.label"
				@click="setAtt(att)"
			>
				{{ isColor ? '' : att.label }}
			</button>
			<!-- <div class="selected"></div> -->
		</li>
	</ul>
</div>
