<div class="story">
	<div class="story__view">

		<!-- PROGRESS BARS -->
		<div class="story__pagination">
			<ul>
				<li
					v-for="(color, paginationIndex) in paginationItems"
					:key="paginationIndex"
				>
					<!-- {{ showProgress }} -->
					<div
						class="story__progress-bar"
						:style="{backgroundColor: convertHex(color, 60)}"
					>
						<div
							class="story__progress-bar--progress"
							ref="progressBars"
							:style="{backgroundColor: color}"
						></div>
					</div>

					<!-- {{ itemIndex }} -->
					<!-- {{paginationItems}} -->
				</li>
			</ul>
		</div>

		<!--CLOSE BUTTON -->
		<button class="btn--close" @click="closeStory">
			<icon name="close" width="22" height="22"></icon>
		</button>

		<!-- STORY SLIDES -->
		<story-slide
			v-for="(variation, variationIndex) in story.variations"
			v-if="showStorySlide(variationIndex)"
			:key="variationIndex"
			:variation="variation"
			:shelf="story"
			@autoplay="toggleAutoplay"
			@close-story="closeStory"
			@next-slide="nextSlide"
			@previous-slide="previousSlide"
			:class="{'story-slide--on-top' : variationIndex === currentSlideIndex}"
		></story-slide>

		<!-- CLICKABLE AREA
		<div class="clickable-area" ref="clickableArea">
			<div class="clickable-area__previous"></div>
			<div class="clickable-area__next"></div>
		</div> -->
	</div>
</div>
