.story {
	&__view {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		// height: 100vh;
		width: 100%;
		// height: calc(var(--vh, 1vh) * 100);
	}

	.promotional-message {
		width: auto;
		padding: 0.2rem 0.5rem;
		position: absolute;
		z-index: 70;
		font-size: 1.6rem;
		right: 0;
		top: 1.8rem;
	}
	&__thumbnail {
	}

	&__pagination {
		position: relative;
		z-index: 70;
		ul {
			padding: 0.3rem 0;
			list-style-type: none;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			li {
				flex: 1;
				background-color: #ffffff;
				margin-left: 0.4rem;
				&:first-child {
					margin-right: 0.4rem;
				}
			}
		}

		.story__progress-bar {
			height: 0.3rem;

			&--progress {
				height: 100%;
				width: 0;
			}
		}
	}

	.btn--close {
		position: absolute;
		outline: none;
		border: none;
		background: none;
		top: 2.2rem;
		left: 0.5rem;
		z-index: 200;
		.svg-fill {
			stroke: #ffffff;
		}
	}
}

// .progress-enter {
// 	width: 0;
// }
// .progress-enter-active {
// 	transition: width 20s ease-in;
// }
// .progress-enter-to {
// 	width: 100%;
// }
// // .progress-leave {
// // 	width: 100%;
// // }
// // .progress-leave-active {
// // 	transition: width 0s ease-out;
// // }
// // .progress-leave-to {
// // 	width: 0;
// // }

.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	transition: opacity 0.2s ease-in;
}
.fade-enter-to {
	opacity: 0.7;
}
.fade-leave {
	opacity: 0.7;
}
.fade-leave-active {
	transition: opacity 0.25s ease-out;
}
.fade-leave-to {
	opacity: 0;
}
