<div class="story">
	<div class="story__view">
		<!-- PROGRESS BARS -->
		<div class="story__pagination">
			<ul>
				<li
					v-for="(color, paginationIndex) in paginationItems"
					:key="paginationIndex"
				>
					<!-- {{ showProgress }} -->
					<div class="story__progress-bar">
						<div class="story__progress-bar--progress" ref="progressBars"></div>
					</div>

					<!-- {{ itemIndex }} -->
					<!-- {{paginationItems}} -->
				</li>
			</ul>
		</div>

		<!--CLOSE BUTTON -->
		<button v-if="showCloseBtn" class="btn--close" @click="closeStory">
			<icon name="close" width="22" height="22"></icon>
		</button>

		<!-- PROMOTIONAL MESSAGE -->
		<div
			v-if="promotionalMessage"
			class="promotional-message"
			:style="{color: promotionalMessage.color, backgroundColor: promotionalMessage.bgColor}"
		>
			{{ promotionalMessage.text }}
		</div>

		<!-- STORY SLIDES -->
		<story-slide
			v-for="(variation, variationIndex) in sortedVariations"
			v-if="showStorySlide(variationIndex)"
			:key="variationIndex"
			:variation="variation"
			:shelf="story"
			@autoplay="toggleAutoplay($event)"
			@close-story="closeStory"
			@next-slide="nextSlide"
			@previous-slide="previousSlide"
			@go-to-story="goToStory($event)"
			@toggle-story-slide-close-btn="showCloseBtn = !showCloseBtn"
			:class="{'story-slide--on-top' : variationIndex === currentSlideIndex}"
		></story-slide>

		<!-- CLICKABLE AREA
		<div class="clickable-area" ref="clickableArea">
			<div class="clickable-area__previous"></div>
			<div class="clickable-area__next"></div>
		</div> -->
	</div>
</div>
