.cart-page {
	background-color: #f5f5f5;
	min-height: 100vh;
	color: #000000;
	font-family: 'Simpler', 'system-ui', sans-serif;
	// .chevron {
	// 	margin-right: 0.5rem;
	// 	border-color: #979797;
	// 	border-style: solid;
	// 	border-width: 0.2em 0.2em 0 0;
	// 	content: '';
	// 	display: inline-block;
	// 	height: 1rem;
	// 	align-self: center;
	// 	transform: rotate(45deg);
	// 	width: 1rem;
	// 	background-color: transparent;
	// }
	&__container {
		background-color: white;
	}
	&__items {
		z-index: 5;
		padding-top: 9.5rem;
		// padding-bottom: 5px;
	}
	&__header {
		display: flex;
		flex-direction: column;
		background-color: white;
		height: 8.5rem;
		position: fixed;
		width: 100%;
		z-index: 10;
		&--checkout {
			// padding: 1.2rem 1.7rem;
			border-bottom: 1px solid rgb(210, 210, 210);
			position: relative;
			padding: 1.5rem;
			// display: flex;
			// flex-direction: row;
			background-color: white;
			// justify-content: space-between;
			.checkout-btn {
				display: block;
				color: white;
				letter-spacing: 1px;
				// padding: 0.5rem 1.8rem;
				background-color: #51a152;
				font-size: 1.1rem;
				border: 0;
				border-radius: 30px;
				font-weight: bold;
				outline: none;
				text-decoration: none;
				width: 8.5rem;
				text-align: center;
				height: 2.5rem;
				line-height: 2.5rem;
				// line-height: 1.2rem;
				// height: 2.6rem;x
			}
		}
		&--close {
			position: absolute;
			left: 2rem;
			top: 1.8rem;
		}
		&--total {
			box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.13);
			font-size: 1rem;
			letter-spacing: 1px;
			text-align: right;
			color: #383838;
			background-color: white;
			padding: 1.23rem 2.1rem;
			border-bottom: 1px solid rgb(190, 190, 190);
			&__price {
				font-weight: bold;
			}
		}
	}
}
