<div class="cart-page">
	<div class="cart-page__container">
		<div ref="stickyHeader" class="cart-page__header">
			<div class="cart-page__header--checkout">
				<a href="/checkout" class="checkout-btn">
					לתשלום
				</a>
				<nuxt-link :to="`/`" class="cart-page__header--close">
					<icon name="close" :original="true" width="17" height="26"></icon>
				</nuxt-link>
			</div>
			<div class="cart-page__header--total">
				<span class="cart-page__header--total__text">
					{{ itemsCount }} פריטים: סה"כ
				</span>
				<span class="cart-page__header--total__price">{{ subtotal }} ש"ח</span>
			</div>
		</div>
		<div class="cart-page__items">
			<cart-item
				v-for="(item, itemIndex) of items"
				:key="itemIndex"
				:item="item"
				:itemIndex="itemIndex"
			></cart-item>
		</div>
	</div>
</div>
