<div class="checkout-response">
	<transition name="slide-from-bottom">
		<div class="checkout-response__container" v-if="show">
			<button class="btn--close" @click="toggle">
				<icon name="close" :original="true" width="14" height="14"></icon>
			</button>
			<header class="header">
				<!-- Error icon -->
				<div class="icon-round icon--error" v-if="orderQuery === 'error'">
					<icon name="attention" width="12" height="12"></icon>
				</div>
				<!-- Success icon -->
				<div class="icon-round icon--success" v-if="orderQuery === 'success'">
					<icon name="checkmark" width="12" height="12"></icon>
				</div>
				<h2
					:class="{'success': orderQuery === 'success', 'error': orderQuery === 'error'}"
				>
					{{ title }}
				</h2>
			</header>
			<div class="checkout-response__message">
				{{ message }}

				<!-- Success -->
				<div
					class="checkout-response__message--success"
					v-if="orderQuery === 'success'"
				>
					<div class="order-number">
						<strong>מספר הזמנה:</strong> {{ orderNumber }}
					</div>
				</div>
				<!-- Error -->
				<div
					class="checkout-response__message--error"
					v-if="orderQuery === 'error'"
				>
					<a :href="`tel:${storePhone}`">{{ storePhone }}</a>
				</div>
			</div>
		</div>
	</transition>
</div>
