$container-height: 70vh;
.checkout-response {
	&__container {
		border-top-right-radius: 1rem;
		border-top-left-radius: 1rem;
		position: relative;
		padding: 1rem 0.7rem;
		background-color: rgba(240, 240, 240, 0.95);
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 50;
		height: $container-height;
		width: 100%;
		color: #535353;

		.btn--close {
			position: absolute;
			top: 1rem;
			left: 1rem;
			outline: none;
			border: none;
			background: none;	
		}

		.header {
			display: flex;
			margin-top: 2rem;
			padding: 0 0.9rem;
			h2 {
				font-size: 1.6rem;
				line-height: 1.4;
				&.success {
					color: #51a152;
				}
				&.error {
					color: #c61e42;
				}
			}
			.icon {
				&-round {
					margin-left: 0.7rem;
					.svg-icon {
						position: absolute;
						top: 0.55rem;
						left: 0.55rem;
					}
					.svg-fill {
						stroke: white;
						fill: none;
					}
				}

				&--error {
					background-color: #c61e42;
					.svg-fill {
						fill: #fff;
					}
				}

				&--success {
					background-color: #51a152;
				}
			}
		}
	}
	&__message {
		margin-top: 1rem;
		padding: 0 3.4rem;
		font-size: 1.1rem;
		line-height: 1.8;
		&--success {
			margin-top: 0.5rem;
			.order-number {
				font-weight: bold;
			}
			.success-image {
				position: absolute;
				left: 5rem;
				bottom: 6rem;
				.svg-icon {
					width: 9rem;
					height: auto;
				}
			}
		}
		&--error {
			display: inline-block;
			a {
				text-decoration: none;
				color: #0068ce;
			}
		}
	}
}

.slide-from-bottom {
	&-enter-active,
	&-leave-active {
		transition: bottom 0.6s;
	}

	&-enter,
	&-leave-to {
		bottom: (-$container-height);
	}
}
