<div class="shelf">
	<header class="shelf-header">
		<div class="shelf-header__container--price-title">
			<span class="shelf-product__price">₪59.9</span>
			<span class="shelf-product__title">שמלת טליה</span>
		</div>
		<div class="shelf-header__logo">
			<img src="assets/logo--simplyfashion.png" alt="" />
		</div>
	</header>
	<!-- Slider main container -->
	<div class="swiper-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src="assets/simplyfashion_dress_black_back.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="assets/simplyfashion_dress_black_closeup.jpg" />
			</div>
			<div class="swiper-slide">
				<img src="assets/simplyfashion_dress_black_front.jpg" />
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

		<!-- If we need scrollbar -->
		<!-- <div class="swiper-scrollbar"></div> -->
	</div>
</div>
