$header-height: 5.3rem;
.shelf {
	// height: 100vh;
	// display: flex;
	// flex-direction: column;
	// height: 100vh;
	// align-items: stretch;
	// align-content: stretch;
	// display: flex;
	// flex-direction: column;

	&-header {
		display: flex;
		flex-direction: row;
		height: $header-height;
		padding: 0.8rem;
		&__logo {
			height: 100%;
			img {
				height: 100%;
				width: auto;
			}
		}

		&__container {
			&--price-title {
				flex: 1;
			}
		}
	}

	&-product {
		&__price {
			display: block;
			font-weight: bold;
		}

		&__title {
			display: block;
		}
	}

	.swiper {
		&-container {
			// height: calc(100% - 5.3rem);
			// height: 100%;
			// flex-grow: 1;
		}

		&-slide {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
