<div class="shelf" :class="variantsPickersClass">
	<header class="shelf-header">
		<div class="shelf-header__container--price-title">
			<span class="shelf-product__price">₪59.9</span>
			<span class="shelf-product__title">שמלת טליה</span>
		</div>
		<div class="shelf-header__logo">
			<img src="assets/logo--simplyfashion.png" alt="" />
		</div>
	</header>
	<!-- Slider main container -->
	<section class="swiper-container" :id="`shelf-content-slider-${shelfIndex}`">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<shelf-content
				v-for="(content, contentIndex) in variant.shelfContent"
				:key="contentIndex"
				:content="content"
			></shelf-content>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>

		<!-- If we need scrollbar -->
		<!-- <div class="swiper-scrollbar"></div> -->
	</section>

	<section class="shelf-variants">
		<color-picker v-if="hasColorPicker" :colors="colors" @switch-variant="switchVariant"></color-picker>
		<size-picker v-if="hasSizePicker"></size-picker>
	</section>
	<footer class="shelf-footer">
		<add-to-cart></add-to-cart>
	</footer>
</div>
