$header-height: 5.3rem;
.shelf {
	// height: 100vh;
	// display: flex;
	// flex-direction: column;
	// height: 100vh;
	// align-items: stretch;
	// align-content: stretch;
	// display: flex;
	// flex-direction: column;

	&-header {
		display: flex;
		flex-direction: row;
		height: $header-height;
		padding: 0.8rem;
		&__logo {
			height: 100%;
			img {
				height: 100%;
				width: auto;
			}
		}

		&__container {
			&--price-title {
				flex: 1;
			}
		}
	}

	&-product {
		&__price {
			display: block;
			font-weight: bold;
		}

		&__title {
			display: block;
		}
	}

	.swiper {
		&-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color:#000;
      opacity: 1;
			background: rgba(0,0,0,0.2);
			&-active {
				color:#fff;
				background: #007aff;
			}
    }
	}
}

.swiper-pagination-bullet {
	width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color:#000;
      opacity: 1;
			background: rgba(0,0,0,0.2);
			&-active {
				color:#fff;
				background: #007aff;
			}
}