<div class="shelf">
	<!-- <div class="shelf-logo">
		<nuxt-link to="/profile">
			<img :src="logoSrc" :alt="`${storeSlug} Logo`" />
		</nuxt-link>
	</div> -->
	<section class="assets">
		<!-- <div v-if="variantVideo" class="slide" :style="{ position: 'relative' }">
			<video-player :source="variantVideo.value"></video-player>
		</div> -->

		<div v-swiper:assetsSwiper="swiperOption" dir="ltr">
			<div class="swiper-wrapper carousel">
				<div
					v-for="(asset, index)  in variantAssets"
					:key="index"
					:style="{ backgroundImage: 'url(' + asset + ')' }"
					class="swiper-slide slide"
				>
					<!-- <img :src="asset"> {{asset}} -->
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="shelf-scrims--top"></div>
		</div>
	</section>
	<div class="shelf-info-button">
		<button class="btn btn--round" v-on:click="showShelfInfo">
			<icon name="info" :original="true" width="18" height="18"></icon>
		</button>
	</div>
	<shelf-title
		v-if="variant && variant.price"
		:price="variant.price"
		:currency="variant.currency"
		:title="shelfTitle"
	></shelf-title>
	<attribute-picker
		v-for="(attribute, attributeKey) in variantProperties"
		:key="attributeKey"
		:attribute="attribute"
		:att-key="attributeKey"
		:selected-attribute="selectedProperty[attributeKey]"
		@changed-att="setAtt"
	></attribute-picker>

	<attribute-picker
		v-for="(attribute, attributeKey) in availableAttributes"
		:key="attributeKey"
		:attribute="attribute"
		:att-key="attributeKey"
		:selected-attribute="selectedAttributes[attributeKey]"
		@changed-att="setAtt"
	></attribute-picker>

	<div
		v-if="shelf.description && shelf.description.length > 0"
		class="shelf-description"
	>
		{{ shelf.description }}
	</div>
	<div class="shelf-scrims">
		<!-- <div class="shelf-scrims--top"></div> -->
		<div class="shelf-scrims--bottom"></div>
	</div>
</div>
