.shelf {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	align-items: flex-start;

	.assets {
		position: absolute;
		width: 100%;
		top: 0;
		height: inherit;
		.swiper-container {
			.swiper-pagination {
				position: absolute;
				top: 1rem;
				z-index: 20;
				bottom: unset;
				padding: 0;
				text-align: center;
				width: 100%;
			}
		}
		.carousel {
			// direction: ltr;
			// height: 100vh;
			&__spacer {
				background-color: #cecece;
				min-width: 3rem;
				height: 100vh;
			}
			&__pagination {
				position: absolute;
				top: 1rem;
				z-index: 20;
				bottom: unset;
				padding: 0;
				text-align: center;
				width: 100%;
				ul {
					padding: 0;
				}
				li {
					height: 0.5rem;
					width: 0.5rem;
					border-radius: 50%;
					background-color: #ffffff;
					margin: 0 0.4rem;
					display: inline-block;
					&.active {
						background-color: #000000;
						height: 0.6rem;
						width: 0.6rem;
					}
				}
			}

			// height: 100vh;
			.slide {
				// height: 100vh;
				min-width: 100%;
				background-size: cover;
				// background-position: center;
				background-position-y: -1.2rem;
				img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}

	&-description {
		font-size: 0.9rem;
		letter-spacing: 1px;
		padding: 0.4rem 1rem;
		position: relative;
		z-index: 30;
		// border-bottom: 1px solid rgba(203, 202, 202, 0.7);
	}

	&-logo {
		position: absolute;
		top: 1.1rem;
		left: 1.1rem;
		width: 4.5rem;
		z-index: 19;
		-webkit-transform: translate3d(0, 0, 0);
		img {
			width: 100%;
			height: auto;
		}
	}

	&-title {
		position: relative;
		z-index: 30;
		&.blur {
			filter: blur(8px);
		}
	}

	.attribute-picker {
		position: relative;
		z-index: 30;
		&.blur {
			filter: blur(8px);
		}
	}

	.add-to-cart {
		margin-top: 1rem;
	}

	.slide--video {
		position: relative;
		#video {
			width: 100%;
		}
		#video-controls {
			position: absolute;
			top: 50%;
			z-index: 999;
			width: 100%;
			text-align: center;
			font-size: 15px;
			button {
				font-size: 20px;
				display: block;
				margin: auto;
			}
		}
	}

	&-content__pagination {
		top: 1rem;
		position: absolute;
		z-index: 20;
		text-align: center;
		pointer-events: none;
	}
	.swiper {
		&-container {
			height: 100%;
			// position: initial;
			// z-index: -1;
			// overflow: unset;
		}
	}

	.shelf-info-button {
		padding: 0.7rem 1rem;
		position: relative;
		z-index: 30;
		&.blur {
			filter: blur(8px);
		}
		.btn {
			box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.75);
			background-color: #efefef;
			position: relative;
			width: 3rem;
			height: 3rem;
		}

		a {
			box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.75);
		}
	}
	&-buttons {
		// -webkit-transform: translate3d(0, 0, 0);
		// -ms-transform: translate3d(0, 0, 0);
		// transform: translate3d(0, 0, 0);
		position: absolute;
		right: 1rem;
		top: 28%;
		z-index: 20;
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 1.6rem;
				a {
					box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.75);
				}
			}
		}

		.counter {
			position: absolute;
			bottom: -1px;
			left: -1px;
		}
	}

	&-options {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		position: absolute;
		bottom: 6rem;
		z-index: 30;
		width: auto;
		opacity: 1;
		font-size: 1.3rem;
	}

	&-footer {
		// -webkit-transform: translate3d(0, 0, 0);
		// transform: translate3d(0, 0, 0);
		position: absolute;
		// bottom: 1rem;
		bottom: 0;
		padding: 2rem 1rem;
		z-index: 30;
		width: 100%;
	}

	&-scrims {
		pointer-events: none;
		-webkit-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		position: absolute;
		bottom: 0;
		// height: 100vh;
		height: 101%;
		width: 100%;
		z-index: 10;
		&--top {
			// height: 30%;
			background-image: linear-gradient(
				-180deg,
				rgba(0, 0, 0, 0.45) 7%,
				rgba(95, 95, 95, 0.4) 33%,
				rgba(237, 237, 237, 0) 76%,
				rgba(238, 238, 238, 0) 99%
			);

			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			z-index: 9;
			height: 11rem;
		}
		&--bottom {
			// background-color: black;
			// height: 70%;
			height: 60%;
			display: block;
			width: 100%;
			position: absolute;
			bottom: 0;
			z-index: 9;
			// background-image: linear-gradient(
			// 	-180deg,
			// 	rgba(238, 238, 238, 0) 2%,
			// 	rgba(95, 95, 95, 0.2) 37%,
			// 	rgba(0, 0, 0, 0.8) 99%
			// );
			background-image: linear-gradient(
				-180deg,
				rgba(238, 238, 238, 0) 10%,
				rgba(95, 95, 95, 0.3) 40%,
				rgba(0, 0, 0, 1) 99%
			);
		}
	}
	// SHELF OVERLAY BOTTOM ANIMATION
	.shelf-overlay-bottom-enter,
	.shelf-overlay-bottom-leave-to {
		height: 0;
	}
	.shelf-overlay-bottom-enter-active,
	.shelf-overlay-bottom-leave-active {
		transition: height 0.6s;
	}
	.shelf-overlay-bottom-enter-to,
	.shelf-overlay-bottom-leave {
		height: 85vh;
	}

	.disable-touch {
		background-color: red;
	}
}
@media (max-height: 500px) {
	.shelf-buttons {
		top: 16%;
	}
}
@media (max-height: 600px) and (min-height: 501px) {
	.shelf-buttons {
		top: 21%;
	}
}
