<div class="row getting-started__form">
		<div class="col-sm-12">
			<h3 class="s1">Let's get started</h2>
			<p class="p1">
				To make sure we give you the most relevant information, we need to learn a
				bit about you first.
			</p>
			<div class="row row-padding">
				<div class="col-sm-12 col-md-4 col-md-offset-2">
					[text* first-name placeholder "First name"]
				</div>
				<div class="col-sm-12 col-md-4">
					[text* last-name placeholder "Last name"]
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm-12 col-md-4 col-md-offset-2">
					[email* work-email placeholder "Work email"]
				</div>
				<div class="col-sm-12 col-md-4">
					[tel* phone-number placeholder "Phone number"]
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm-12 col-md-4 col-md-offset-2">
					[text* company placeholder "Company"]
				</div>
				<div class="col-sm-12 col-md-4">
					[text* job-title placeholder "Job title"]
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-4 col-md-offset-2">
					<h4>Request a personalized demo</h4>
					<p>
						We look forward to showing you how our enterprise solution makes
						it simple to preserve confidentiality of Blockchain 
						transactions.
					</p>
				</div>
				<div class="col-sm-12 col-md-4">
					<h4>Request an API key</h4>
					<p>
						Want to try one of our native client SDKs?<br />
						Get an API key and see how simple it is to make
						confidential transactions on Blockchain using QED-it
					</p>
				</div>
			</div>
<div class="row">
				<div class="col-sm-12">
					<hr>
				</div>
			</div>
			<div class="row">

				<div class="col-sm-12 col-md-8 col-md-offset-2">
					[radio clicked-on class:getting-started__buttons default:1 "api" "demo"]
				</div>
			</div>
		</div>
	</div>