.stories {
	background: #fff;
	color: #000;
	padding: 1rem;
	border-bottom: 1px solid #e4e4e4;
	// margin-bottom: 1rem;
	&__title {
		font-size: 1.3rem;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	&__thumbnail {
		&--border {
			border-radius: 64px;
			padding: 4px;
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#87b23f+0,efffd5+50,87b23f+100 */
			background: #87b23f; /* Old browsers */
			background: -moz-linear-gradient(
				top,
				#87b23f 0%,
				#efffd5 50%,
				#87b23f 100%
			); /* FF3.6-15 */
			background: -webkit-linear-gradient(
				top,
				#87b23f 0%,
				#efffd5 50%,
				#87b23f 100%
			); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(
				to bottom,
				#87b23f 0%,
				#efffd5 50%,
				#87b23f 100%
			); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87b23f', endColorstr='#87b23f',GradientType=0 ); /* IE6-9 */
		}
		&--price {
			font-size: 1rem;
			font-weight: bold;
			margin-top: 0.5rem;
			padding-right: 0.5rem;
			text-align: center;
		}
		&--name {
			word-break: break-word;
			font-size: 1rem;
			padding-right: 0.5rem;
			text-align: center;
		}

		&--circle {
			height: auto;
			width: 8rem;
			.stories__thumbnail--border {
				border-radius: 50%;
				height: inherit;
				img.stories__thumbnail--img {
					// width: fit-content;
					// max-height:3.9rem;
					display: block;
					border-radius: 64px;
					width: 7.5rem;
					height: 7.5rem;
					min-height: auto;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}

	.no-click {
		pointer-events: none;
	}
}
