<div class="stories">
	<h2 class="stories__title">{{ title }}</h2>
	<horizontal-slider>
		<div
			class="stories__thumbnail"
			v-for="(thumbnail, thumbnailIndex) in storyThumbnails"
			:key="thumbnailIndex"
			@click.stop.prevent="enterStory(thumbnailIndex)"
			:class="{'no-click': showStory}"
		>
			<div class="stories__thumbnail--border">
				<img :src="thumbnail.asset" class="stories__thumbnail--img" alt="" />
			</div>
			<div class="stories__thumbnail--price">{{ thumbnail.price }} ש״ח</div>
			<div class="stories__thumbnail--name">{{ thumbnail.name }}</div>
		</div>
	</horizontal-slider>

	<story
		@go-to-story="goToStory"
		@go-to-slide="goToSlide"
		v-for="(story, storyIndex) in stories"
		v-if="currentStoryIndex === storyIndex && showStory"
		:key="storyIndex"
		:story="story"
		:current-slide-index="currentSlideIndex"
		:story-index="storyIndex"
		@close-story=exitStory
	>
	</story>
	<!-- 
	<div class="story__view" v-if="storyView" @click="nextSlide">
			<story-slide
				v-for="(variation, variationIndex) in shelf.variations"
				v-show="variationIndex === currentSlideIndex"
				
				:key="variationIndex"
				:variation="variation"
				:shelf-name="shelf.name"
				:shelf-slug="shelf.slug"
			></story-slide>
		</div> -->
</div>
