<div class="stories">
	<div class="container" v-if="!hideEls">
		<h2 class="stories__title">{{ title }}</h2>
		<horizontal-slider>
			<div
				class="stories__thumbnail stories__thumbnail--circle"
				v-for="(thumbnail, thumbnailIndex) in storyThumbnails"
				:key="thumbnailIndex"
				@click.stop.prevent="enterStory(thumbnailIndex)"
				:class="{'no-click': showStory}"
			>
				<div class="stories__thumbnail--border">
					<img :src="thumbnail.asset" class="stories__thumbnail--img" alt="" />
				</div>
				<div class="stories__thumbnail--price">{{ thumbnail.price }} ש״ח</div>
				<div class="stories__thumbnail--name">{{ thumbnail.name }}</div>
			</div>
		</horizontal-slider>
	</div>

	<story
		@go-to-slide="goToSlide"
		v-for="(story, storyIndex) in stories"
		v-if="currentStoryIndex === storyIndex && showStory"
		:key="storyIndex"
		:story="story"
		:story-slides="storySlides"
		:current-slide-index="currentSlideIndex"
		:story-index="storyIndex"
		@close-story="exitStory"
		@go-to-story="goToStory({param: $event, storyIndex})"
	>
	</story>
</div>
